
<suite parallel="classes" name="Suite1">
	<test thread-count="5" parallel="classes" name="Test1">
		<classes>
			<class name="helloworld_sk.TestNG_Demo" />
			<class name="helloworld_sk.TestNG_Demo2" />
			<methods>
				<include name = "googleSearch2"></include>
			</methods>
		</classes>
	</test>
</suite>
